// Max Width
//Desktop
$Max_DXL: 2559.98px; 
$Max_DL: 1919.98px; 
$Max_DM: 1439.98px; 
$Max_DS: 1199.98px; 
$Max_DXS: 1024.98px; 
//tablet
$Max_TL: 1023.98px; 
$Max_TM: 849.98px;
$Max_TS: 767.98px; 
$Max_TXS: 599.98px; 
//mobile
$Max_ML: 427.98px; 
$Max_MM: 374.98px;
$Max_MS: 319.98px;

// Min Width
//Desktop
$Min_DXL: 2560px; 
$Min_DL: 1920px; 
$Min_DM: 1440px; 
$Min_DS: 1200px; 
$Min_DXS: 1025px; 
//tablet
$Min_TL: 1024px; 
$Min_TM: 850px;
$Min_TS: 768px; 
$Min_TXS: 600px; 
//mobile
$Min_ML: 428px; 
$Min_MM: 375px;
$Min_MS: 320px;