// $theme-color:#7fffd4;
$theme-color:#62b4f5;
$theme-color2:#7fffd499;
$color:#f9f9f9;
$bg-color:#0f171e;
$background: linear-gradient(
    to right,
    rgb(29, 224, 224) 0%,
    rgba(1,180,228, 1) 100%
  );
  $background2: linear-gradient(
    to right,
    rgba(30,213,169, .7) 0%,
    rgba(1,180,228, .7) 100%
  );
$header-bg-color:#131921;