@use "../../../Assets/Scss/deviceSize" as *;

.container {
  display: block;
  position: relative;
  padding: 0 calc(3.5vw + 24px);
  top: 200px;
  &_background {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    img {
      width: 100%;
      height: 100%;
    }
    &_color {
      position: absolute;
      inset: 0;
      background-image: radial-gradient(
        farthest-side at 73% 21%,
        transparent,
        rgb(15, 23, 30)
      );
    }
  }
  &_detail {
    display: block;
    max-width: 874px;
    color: #f9f9f9;
    position: relative;
    &_header {
      margin-bottom: 0;
    }
    &_info {
      &_rating {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: #ffc107;
        margin: 10px 0;

        span {
          font-size: 2.5rem;
          font-weight: 600;
          padding: 0;
          margin-right: 10px;

          &:last-child {
            font-size: 13px;
            opacity: 0.8;
          }
        }
      }
      &_genres {
        margin-bottom: 25px;
        ul {
          list-style-type: none;
          display: flex;
          align-items: center;
          li {
            display: flex;
            align-items: center;
            span {
              display: flex;
            }
          }
        }
        span {
          font-size: 14px;
          line-height: 1.5;
          font-weight: 500;
          padding-right: 5px;
          &:last-child {
            display: block;
          }
        }
      }
    }
    &_button {
      display: flex;
      margin-bottom: 15px;
      button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 1.2rem;
        padding: 13px 15px;
        font-weight: 900;
        font-size: 1em;
        border: none;
        border-radius: 0.25rem;
        cursor: pointer;
        &:first-child {
          span {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 15px;
          }
        }
      }
      &_icons {
        display: flex;
        justify-content: center;
        align-items: center;
        &_whistlist {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          position: relative;
          &:hover {
            label {
              display: block;
            }
          }
          label {
            display: none;
            position: absolute;
            top: 0;
            z-index: 998;
            padding: 10px;
            width: max-content;
            text-align: center;
            background-color: #425265;
            border: 1px solid #425265;
            border-radius: 5px;
            transform: translateY(-50px);
            font-weight: 600;
            margin-right: 1.2rem;
            filter: drop-shadow(0 0 5px rgb(0, 0, 0, 0.5));

            &:after {
              content: "";
              position: absolute;
              bottom: -5px;
              width: 10px;
              height: 10px;
              border-bottom: 1px solid #425265;
              border-right: 1px solid #425265;
              left: 50%;
              transform: translateX(-50%) rotate(45deg);
              background-color: #425265;
              z-index: -1;
            }
          }
        }
        &_favorite {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          position: relative;
          &:hover {
            label {
              display: block;
            }
          }
          label {
            display: none;
            position: absolute;
            top: 0;
            z-index: 998;
            padding: 10px;
            width: max-content;
            text-align: center;
            background-color: #425265;
            border: 1px solid #425265;
            border-radius: 5px;
            transform: translateY(-50px);
            margin-right: 1.2rem;
            font-weight: 600;
            filter: drop-shadow(0 0 5px rgb(0, 0, 0, 0.5));
            &:after {
              content: "";
              position: absolute;
              bottom: -5px;
              width: 10px;
              height: 10px;
              border-bottom: 1px solid #425265;
              border-right: 1px solid #425265;
              left: 50%;
              transform: translateX(-50%) rotate(45deg);
              background-color: #425265;
              z-index: -1;
            }
          }
        }

        span {
          margin-right: 1.2rem;
          border-radius: 50%;
          border: 2px solid #f9f9f9;
          width: 45px;
          height: 45px;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
        }
      }
    }

    &_overview {
      p {
        font-size: 20px;
        padding: 1rem 0;
        line-height: 1.6;
        font-weight: 600;
      }
    }
  }
}
.container_dialog {
  background-color: rgb(0, 0, 0, 0.5);
  padding: 28px;
  transform: translateX(-50%) translateY(-50%);
  width: 70%;
  top: 50%;
  left: 50%;
  animation-name: modal-animation;
  animation-duration: 0.6s;
  position: relative;
  &_close {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999;
    button {
      z-index: 999;
      background-color: transparent;
      border: none;
      cursor: pointer;
      opacity: 0.8;
      &:hover {
        opacity: 1;
      }
    }
  }
  &::backdrop {
    opacity: 0.8;
    background-color: #1b2530;
  }
  &_modal {
    iframe {
      border: none;
    }
  }
}
@media only screen and (max-width: $Max_DXS) {
  .container_dialog{
    width: 90%;
  }
}
@media only screen and (max-width: $Max_TXS) {
  .container{
    padding: 0 calc(3.5vw + 10px);
  }   
}
