.container_nav_content_cast {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  cursor: pointer;
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    padding: 5px;
    margin-bottom: 10px;
    color: #f9f9f9;
    transition: 0.2s ease-in-out;
    border-radius: 100px 0 0 100px;
    position: relative;
    z-index: 997;
    overflow: hidden;
    transform: transition 0.5;
    text-decoration: none;
    .container_nav_content_cast_profil {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      &:after {
        content: "";
        position: absolute;
        border-radius: 100px 0 0 100px;
        background-image: linear-gradient(90deg, #000, transparent);
        transition-duration: 0.7s;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: translateX(-350px);
      }
      &:hover {
        &:after {
          transform: translateX(0);
          transition-duration: 0.7s;
        }
        color: #79b8f3;
        .container_cast_profil_img {
          img {
            border: 3px solid #000;
            transition-duration: 0.7s;
          }
        }
      }
      &_img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25%;
        height: auto;
        img {
          height: 65px;
          width: 100%;
          border-radius: 50%;
          border: 3px solid #f9f9f999;
          object-fit: fill;
        }
      }
      &_info {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        text-align: center;
        span {
          opacity: 0.8;
        }
      }
    }
  }
}
