@use "../../Scss/variables" as *;

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 calc(3.5vw + 24px);
  margin-top: 250px;
  z-index: 997;

  &_nav {
    position: relative;
    width: 100%;
    display: flex;
    color: #f9f9f9;
    font-weight: 900;
    border-bottom: 1px solid #f9f9f999;
    // padding-bottom: 15px;
    z-index: 998;

    &_bar {
      cursor: pointer;
      font-size: 20px;
      letter-spacing: 1.3px;
      line-height: 1.4;
      display: flex;
      justify-content: center;
      opacity: 0.7;
      &:hover{
      opacity: 1;

      }
      &.active {
        color: #fff;
        opacity: 1;
        border-bottom: 3px solid #f9f9f9;
        padding-bottom: 15px;

      }
      &:nth-child(n) {
        width: max-content;
        margin-right: 40px;
      }      
    }    
  }
  &_nav_content{
    position: relative;
    top: 0;
    width: 100%;
    margin-top: 20px ;
    margin-bottom: 50px;
    display: flex;
    display: none;
    &.active{
    display: flex;    
    }      
  }
}
