.container {
    width: 100%;   
    position: relative;
    margin-bottom: 250px;
    &_slider{
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;   
      .movie_card {
        width: 100%;
        position: relative;
   
        // margin-top: 230px;
        // &:hover {
        //   position: relative;
        //   // bottom: 200px;
        //   transform: translateY(-200px);
        //   z-index: 998;
        //   height: auto;
      
        // }
        
      }
    }
    
  }