@use "../../../../Assets/Scss/variables" as *;
@use "../../../../Assets/Scss/deviceSize" as *;

.container {
  width: 100%;
  display: flex;
  color: #f9f9f9;
  &_crew {
    display: flex;
    flex-direction: column;
    width: 100%;
    &_director {
      width: 100%;
      display: flex;
      position: relative;
      padding-bottom: 20px;
      margin-bottom: 20px;
      border-bottom: 1px solid #f9f9f999;
      h1 {
        margin-bottom: 10px;
      }
      &_img {
        img {
          width: 150px;
          height: 200px;
        }
      }
      &_info {
        display: flex;
        position: relative;
        inset: 0;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        width: 100%;
        h1{
          width: 100%;
          text-align: center;
        }
      }
    }
    &_others{
        display: flex;
        justify-content:center;
        flex-wrap: wrap;           
        width: 100%;
        height: auto;
        &_group{
            width: 25%;
            margin-right: 30px;
            text-align: center;
            margin: 20px;
            h3{
                border-bottom: 1px solid #f9f9f999;
                padding-bottom: 8px;
                margin-bottom: 15px;
                text-align: center;
            }
          ul{
            display: flex;
            flex-direction: column;
            text-align: center;
            list-style: none;
            li{
              margin-bottom: 7px;
              width: 100%;
            }

          }
          button{
            border: none;
            background-color: transparent;
            color: $theme-color;
            opacity: 0.8;
            padding: 5px;
            font-size: 16px;
            font-weight: 600;
            cursor: pointer;
            &:hover{
              opacity: 1;
            }
          }
        }
    }
  }
}

@media only screen and (max-width: $Max_TS) {
  .container_crew_director_info{
    h1{
      font-size: 22px;
    }
  }
}