@use '../../Scss/variables' as *;
.container{
    margin: 0 0 50px 50px;
    z-index: 997;
    &_button{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 5px;
        h1{
            color: #fff;
            margin-bottom: 10px;
            font-size: 22px;
        }
        button{
            background-color: #032541;
            padding: 5px 10px;
            background-image: linear-gradient(to right, #c0fecf 0%, #1ed5a9 100%);
            background-size: 100%;
            background-clip: text;
            -webkit-background-clip: text;
            -moz-background-clip: text;
            -webkit-text-fill-color: transparent; 
            -moz-text-fill-color: transparent;
            background-size: 100%;
            border-radius: 30px;
            font-weight: 600;
            margin-right: 10px;
            border: 2px solid #fff;
            cursor: pointer;
            &:hover{
                color: $theme-color;
                border-color: $theme-color;
            }
        }
    
    }
//    .slick-slider{
//     .slick-list{
//         .slick-track{
//             .slick-slide{
                .movie_card{
                    height: 220px;
                    width:100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding:0 4px;
                    
                }
            // }
//         }
//     }
//    }
    
}
