@use "../../../Assets/Scss/variables" as *;
@use "../../../Assets/Scss/deviceSize" as *;

.container {
  position: relative;
  margin-left:2rem;
  &_button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
    padding-right: 20px;
    padding-left: 5px;
    h1 {
      color: #fff;
      font-size: 1.4rem;
      font-weight: 700;
    }
    button {
      width: max-content;
      background-color: #032541;
      padding: 5px 10px;
      background-image: $background;
      background-size: 100%;
      background-clip: text;
      -webkit-background-clip: text;
      -moz-background-clip: text;
      -webkit-text-fill-color: transparent;
      -moz-text-fill-color: transparent;
      background-size: 100%;
      border-radius: 30px;
      font-weight: 600;
      border: 2px solid #fff;
      cursor: pointer;
      &:hover {
        color: $theme-color;
        border-color: $theme-color;
      }
    }
  }
  &_slider {
    width: 100%;
    .movie_card {
      // height: 395px;
      height: auto;
      z-index: 998;
      width: 100%;

    }
  }
}
@media only screen and (max-width: $Max_TXS) {
  .container{
    margin-left:1.2rem;
  }
  .container_button{
    padding-right: 5px;

    h1{
      font-size: 1.2rem;
    }
    button{
      padding: 4px 8px;
    }
  }
}