@use "../../Assets/Scss/deviceSize" as *;

.container {
  width: 100%;
  min-height: 100vh;
  position: relative;  
  background: url("../../Assets/img/background.jpg");
  background-size: cover;
}
@media only screen and (max-width: $Max_DXS) {
  .container {
    background: none;
    background-color: #040814;   
  }
}
