.container_image {
  // height: 200px;
  // width:329px;
  //   height: 220px;
  height: auto;
  width: 100%;
  display: flex;
  img {
    // position: absolute;
    // top: 0;
    // left: 0;
    object-fit: fill;
    height: 185px;
    width: 100%;
    border-radius: 5px;
    // padding-right: 45px;
    margin: 10px 4px;
    border: 1px solid #000;
  
  }
}
.container_video {
  // top: -50px;
  // left:0;
  height: auto;
  //   height: 220px;
  width: 100%;
  transform: scale(1.05);
  // margin-top: -80px;
  transition: transform 0.5s ease;

  // transform: scale(1.1);
}
