@use "../../../Assets/Scss/variables" as *;

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &_button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    margin: 60px 0;
    background-color: transparent;
    padding: 10px;
    border: 2px solid #fff;
    border-radius: 30px;
    overflow: hidden;

    button {
      background-color: transparent;
      border: none;
      color: #fff;
      font-size: 1.5rem;
      font-weight: 600;
      width: 100%;
      z-index: 998;
      &:hover{
        cursor: pointer;
      }

      &[class="active"] {
        color: black;
      }
      &:nth-child(1)[class="active"] ~ .indicator {
        transform: translateX(calc(0));
        width: 50%;
      }
      &:nth-child(2)[class="active"] ~ .indicator {
        transform: translateX(calc(100%));
        width: 50%;
      }
    }
    .indicator {
      position: absolute;
      height: 100%;
      width: 50%;
      bottom: 0;
      left: 0;
      z-index: 0;
      border-radius: 30px;
      background: $background;
      // padding-bottom: 8px;
      transition-property: transform;
      transition-duration: 0.5s;
      z-index: 996;
    }
  }
  &_data {

    width: 100%;
    display: flex;
    position: relative;
    &_slider {
      position: absolute;
      width: 100%;
      height: auto;
      top: 0;
      right: 0;
      &:not(:nth-child(1)):nth-child(n) {
        top: (calc(var(--index, 0) * 300px));
      }
      &:nth-child(n){
        &:hover{
          z-index: 998;
        }
      }
    }
  }
}
