@use "../../Assets/Scss/variables" as *;
@use "../../Assets/Scss/deviceSize" as *;

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px calc(3.5vw + 12px);
  &_query {
    width: 100%;
    color: #f9f9f9;
    margin-bottom: 25px;
  }
  &_search {
    width: 100%;
    display: flex;
    justify-content: center;
    &_empty {
      width: 100%;
      font-family: "Source Sans Pro", Arial, sans-serif;
      font-size: 1.2em;
      font-weight: 600;
      color: #f9f9f9;
    }
    &_result {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 20px;
      &_movie_card {
        height: 195px;
        position: relative;
        width: 25%;
      }
      &_person_card {
        height: 300px;
        position: relative;
        width: 25%;
      }
    }
    &_filter {
      width: 25%;
      margin-top: 5px;
      margin-right: 20px;
      ul {
        width: 100%;
        color: #f9f9f9;
        border-radius: 5px;
        border: 1px solid #f9f9f950;
        h3 {
          padding: 15px 20px;
          background: $background;
          color: #202020;
          margin-bottom: 10px;
          border-radius: 5px 5px 0 0;
        }
        li {
          line-height: 1.4em;
          list-style-type: none;
          width: 100%;
          padding: 15px 20px;
          &.active {
            background-color: #ebebeb;
            font-weight: 600;
            color: #000;
            &:last-child {
              border-radius: 0 0 5px 5px;
            }
          }
          &:not(.active) {
            &:hover, &:active{
              background-color: #ffffff95;
              font-weight: 600;
              color: #000;
              cursor: pointer;
              &:last-child {
                border-radius: 0 0 5px 5px;
              }
            }
            
          }
        }
      }
    }
  }
}
@media only screen and (max-width: $Max_DXS) {
  .container_search {
    &_filter {
      width: 50%;
    }
    &_result {
      &_movie_card {
        width: 50%;
      }
      &_person_card {
        width:50%;
      }
    } 
    &_empty {
      width: 100%;
      margin:  0;
      text-align: center;
    }   
  }
}
@media only screen and (max-width: $Max_TM) {
  .container_search {
    &_filter {
      width: 50%;
    }
    &_result {
      &_movie_card {
        width: 50%;
      }
      &_person_card {
        width:50%;
      }
    } 
    &_empty {
      width: 100%;
      margin:  0;
    }   
  }
}
@media only screen and (max-width: $Max_TXS) {
  .container_search {
    flex-direction: column;
    &_filter {
      width: 100%;
    }
    &_result {
      margin-top: 20px;
      &_movie_card {
        width: 50%;
      }
      &_person_card {
        width:100%;
      }
    } 
    &_empty {
      width: 100%;
      height: auto;
      margin: 50px 0;
      text-align: center;
    }   
  }
}