@use "../../../../Assets/Scss/deviceSize" as *;

.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  &_card {
    width: 20%;
    position: relative;
    height: 195px;
  }
}
@media only screen and (max-width: $Max_DXS) {
  .container_card {
    width: 25%;
  }
}
@media only screen and (max-width: $Max_TXS) {
  .container_card {
    width: 50%;
  }
}
