.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  &_card {
    width: 20%;
    position: relative;    
  }
  &_remainder{
    width: 20%;
    position: relative;
    &:hover{
        transform: translateY(-200px);
    }
 }
}
