@use "../../../../Assets/Scss/deviceSize" as *;

.container {
  width: 100%;
  color: #f9f9f9;
  font-family: sans-serif;
  h1 {
    width: 100%;
    padding-bottom: 1.5rem;
  }
  &_content {
    display: flex;
    align-items: baseline;
    justify-self: center;
    &_left {
      padding-right: 12px;
      max-width: 750px;
      font-size: 20px;
      line-height: 1.6;
    }
    &_right {
      display: flex;
      justify-content: center;
      align-items: baseline;
      flex-wrap: wrap;
      padding-left: 12px;
      width: 100%;
      &_info {
        width: 250px;
        margin-bottom: 30px;
        display: block;

        h4 {
          color: #f9f9f999;
          padding-left: 35%;
        }
        p {
          font-size: 20px;
          padding-left: 35%;
          line-height: 1.6;
        }
      }
    }
  }
}
@media only screen and (max-width: $Max_TXS) {
  .container_content {
    display: flex;
    align-items: center;
    justify-self: center;
    flex-direction: column;
    &_right {
      padding-left: 0;
      margin-top: 4rem;
      &_info {
        width: 50%;
        h4 {
            padding-left: 0;
          }
          p {
            padding-left: 0;
          }
      }
    }
  }
}
